# EditorConfig is awesome: http://EditorConfig.org
# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf

# Tab indentation
indent_style = tab
indent_size = 4
tab_width = 4
insert_final_newline = true
trim_trailing_whitespace = true

# ECLIPSE PLUGIN
# Feature Support
#
# Feature	Support	Notes
# indent_style	Yes	tested with Java, XML, Ant and text editors
# indent_size	Yes	tested with Java, XML, Ant and text editors
# tab_width		No
# end_of_line	No	applies to files created after similar file opened
# charset		Yes	untested
# trim_trailing_whitespace	No
# insert_final_newline		No
